@model MvcFilme.Models.Filme

@{
    ViewData["Title"] = "Deseja remover " + Model.Titulo + "?";
}
<div class="container bg-light p-5 filme-detalhes">
    <h2 class="text-center">Você relamente deseja apagar @Html.DisplayFor(model => model.Titulo)?</h2>
    <div class="row d-flex justify-content-center">

        <div class="col-5 bg-white border mt-4 border-danger p-3 rounded">
            <div class="row d-flex justify-content-center align-items-center">
                <img src="@Model.Capa" class="filme-capa rounded" alt="" />
            </div>
            <div class="row pt-3">
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.Titulo)</dt>
                    <dd>@Html.DisplayFor(model => model.Titulo)</dd>
                </dl>
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.Genero)</dt>
                    <dd>@Html.DisplayFor(model => model.Genero)</dd>
                </dl>
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.Classificacao)</dt>
                    <dd>@Html.DisplayFor(model => model.Classificacao)</dd>
                </dl>
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.Lancamento)</dt>
                    <dd>@Html.DisplayFor(model => model.Lancamento)</dd>
                </dl>
                <dl>
                    <dt>@Html.DisplayNameFor(model => model.Sinopse)</dt>
                    <dd class="text-justify text-indented">
                        @Html.DisplayFor(model => model.Sinopse)
                    </dd>
                </dl>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-secondary mb-2 w-100" asp-action="Index">Catálogo</a>
                </div>
                <div class="col">
                    <form asp-action="Delete" class="w-100 p-0">
                        <input type="hidden" asp-for="PublicId"/>
                        <input type="submit" class="btn btn-danger w-100" value="Confirmar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
