@model MvcFilme.Models.FilmeGeneroViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index </h2>

@Html.DisplayFor(model => model.genero)
<p>
    <a asp-action="Create">Create New </a>
</p>
<form asp-controller="Filmes" asp-action="Index" method="get">
    <p>
        <select asp-for="genero" asp-items="Model.generos" name="genero">
            <option value="">Todos</option>
        </select>
        Title : 
        <input type="text" name="busca" />
        <input type="submit" value="Filtrar" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.filmes.FirstOrDefault().Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmes.FirstOrDefault().Lancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmes.FirstOrDefault().Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmes.FirstOrDefault().Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmes.FirstOrDefault().Classificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.filmes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classificacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
